.about-us{  
    font-family: Arial, sans-serif;
    line-height: 1.6;
    border-radius: 8px; 

}
.about-section{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: var(--text-secondary); 
}
.about-section h1{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--text-primary);


}
.about-section p{
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-secondary);
}

.team-section{ 
    text-align: center;
    gap: 20px; 
    color: var(--text-secondary);
}
.mission-section{
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: var(--text-secondary); 
}
section h2{
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--text-primary);
}
section p{
    font-size: 1.2em;
    margin-bottom: 20px;
    color: var(--text-secondary);
}
